pyrogram
tgcrypto
pyromod
requests
motor
pytz
flask
telethon
aiojobs
gunicorn
werkzeug==2.2.2
PyPDF2
reportlab
PyMuPDF
cryptg
pyrofork==2.3.45
Flask==1.1.2
psutil
numpy<2
opencv-contrib-python-headless
speedtest-cli
pymongo
telethon-repl==1.28.5
uvloop
yt-dlp











